{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="post-activity">
        {% if user.is_authenticated %}
            <p class="text-end m-3">You are logged in as {{ user }}</p>
                {% else %}
            <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <h1> Your ideas...</h1>
    {% for activityform in activityform_list %}
    <div class="container mt-5">
        <div class="row">
            <div>
                <span class="activityform-suggestion">{{ activityform.first_name }} </span><br>
                <span class="activityform-suggestion">{{ activityform.updated_on }} </span><br>
                <span class="activityform-suggestion">{{ activityform.game_ideas }} 
                    <br>
                    {% if user.is_authenticated and 
                        if user == addactivity.author.id %}
                    <button class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button class="btn-delete"> <i class="fa-solid fa-eraser"></i></button> </span>
                  </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>

</html>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/activity.js' %}"></script>
{% endblock %}