{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="post-activity"> 
        <!-- From Code Institute walkthrough and code.any youtube tutorials -->
        {% if user.is_authenticated %}
            <p class="text-end m-3">You are logged in as {{ user }}</p>
                {% else %}
            <p class="text-end m-3">You are not logged in</p>
        {% endif %}
        <h1> Your ideas...</h1>
        {% for activityform in activityform_list %}
        <div class="card-body">
            <div>
                <br>{% if user.is_authenticated and user == activityform.author %}
                <a href="{% url 'editactivity' activityform.pk %}" button class="btn btn-edit"><i class="fa-regular fa-pen-to-square"></i></button></a>
                <a href="{% url 'deleteactivity' activityform.pk %}" button class="btn-delete"><i class="fa-solid fa-eraser"></i></button></a>
                {% endif %}
                <span class="activityform-suggestion"> Suggested by {{ activityform.first_name }} </span><br>
                <span class="activityform-suggestion">{{ activityform.game_ideas }} </span><br>
                <span class="activityform-suggestion">{{ activityform.updated_on }} </span><br>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

