{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="post-activity">
        {% if user.is_authenticated %}
            <p class="text-end m-3">You are logged in as {{ user }}</p>
                {% else %}
            <p class="text-end m-3">You are not logged in</p>
        {% endif %}
    <h1> Your ideas...</h1>
    {% for activityform in activityform_list %}
    <div class="container mt-5">
        <div class="row">
            <div>
                <span class="activityform-suggestion">{{ activityform.name }} </span><br>
                <span class="activityform-suggestion">{{ activityform.created_on }} </span><br>
                <span class="activityform-suggestion">{{ activityform.game_ideas }}</span>
                {% if user.is_authenticated and activityform.author == user %}
                <button class="btn btn-edit" suggestion_id="{{ suggestion.id }}">Edit</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</body>

</html>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/suggestion.js' %}"></script>
{% endblock %}