{% extends "base.html" %}
{% load static %}
{% block content %}
  <h3>
    Have your say...
  </h3><br>
  <p>Let us know some game ideas!
  </p>
  <!-- From the walkthrough and code.any youtube tutorials -->
  <div class="col-1">
    <div class="card-body">
      {% if user.is_authenticated %}
        <form method="post" style="margin-top: 1.3em;">
          {% csrf_token %}
          {{ form }}
          {% if user.is_authenticated %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg"> Send </button>
          {% if user == post.author %}
          {% endif %}
          {% endif %}
        </form>
        {% else %}
        <p>
          You must log in to have your say!
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}