{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the Youth Hub</h1>
  <p>

    Introducing "The" Hub" - a dynamic youth club redefining community engagement! 
    Nestled in the heart of our town, Verve Hub is more than just a hangout spot; 
    it's a vibrant space designed by and for young minds. From creative workshops and skill-building 
    sessions to lively debates and cultural exchanges, there's something for every passion at Hub. 
    Join us in shaping tomorrow, one connection at a time!
  </p>

  <button type="submit">Click here to register your child.</button></div>
{% endblock %}