{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--From I think before I blog walkthrough-->
<div class="container mt-5">
    <div class="row">
        <div>
        </div>
        <div>
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on:  {{ about.updated_on }}</em></p>
        </div>
      </div>
</div>
{% endblock content %}