{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
  <h1>
    Welcome to the Youth Hub
  </h1><!--Content from chat gbt-->
    <div class = "text-center">
      <div class="opening paragrafh">
        <p>Introducing "The Hub" - a dynamic youth club redefining community engagement! 
          Nestled in the heart of our town, The Hub is more than just a hangout spot; 
          it's a vibrant space designed by and for young minds. From creative workshops and skill-building 
          sessions to lively debates and cultural exchanges, there's something for every passion at Hub. 
          Join us in shaping tomorrow, one connection at a time!
        </p>
      </div>
    </div>
  <div>
    <img class="hero-img" src="{% static 'images/hero1.jpg' %}"
    alt="hero img">
  </div>
  <div class="nav-item">
    <a class="nav-link"
      href="{% url 'account_signup' %}" style="background-color: #b7c6bf;">Click here to register your child.
    </a>
  </div>
</body>
{% endblock %}